
/* ================= GLOBAL RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

/* ================= FONT VARIABLES (ONLY) ================= */
:root {
    --font-body: 'Inter', sans-serif;
    --font-heading: 'Stolzl', sans-serif;
    --font-para: 'Poppins', sans-serif;
    
    /* Colors */
    --white: rgba(255, 255, 255, 1);
    --light-cream: rgba(255, 245, 237, 1);
    --span-color: linear-gradient(120deg,rgba(37, 37, 37, 1), rgba(209, 4, 62, 1), rgba(44, 44, 44, 1));
}


@font-face {
    font-family: 'Satoshi';
    src: url('../Fonts/Satoshi-Regular.woff') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../Fonts/stolzl_light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../Fonts/stolzl_book.woff2') format('woff2');
    font-weight: 350;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../Fonts/stolzl_regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../Fonts/stolzl_medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Stolzl';
    src: url('../Fonts/stolzl_bold.woff2') format('woff2');
    font-weight: 700;
}

/* ================= GLOBAL ELEMENTS ================= */
a {
    text-decoration: none;
    color: inherit;
}

/* ================= HEADING & PARA ================= */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

p {
    font-family: var(--font-para);
}
/* ================= CONTAINER ================= */
.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ================= HEADER ================= */
.header {
    width: 100%;
    background:var(--white);
      padding: 8px 0; 
}
.hamburger-menu {
    display: none;
    cursor: pointer;
}
.hamburger-menu img {
    width: 30px;
    height: 30px;
}
/* ================= LOGO ================= */
.logo img {
    height: 48px;
}

/* ================= RIGHT SECTION ================= */
.header-right {
    display: flex;
    align-items: center;
    gap: 40px;
    transform: translateX(20px);
}

/* ================= HEADER ITEMS ================= */
.header-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
    color: rgba(133, 23, 57, 1);
    font-weight: 600;
    transition: 0.3s;
}
.sign-in span {
    color: #000000;
}

.talk-to-astro{
    margin-left: 30px;
}

.header-item img {
    width: 25px;
    height: 25px;
}

.header-item:hover {
    opacity: 0.8;
}

/* ================= LANGUAGE BUTTON ================= */
.language {
    display: flex;
    align-items: center;
    gap: 6px;
    background: rgba(133, 23, 57, 1);
    color: #fff;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 4px 10px rgba(10, 13, 18, 0.05);
}

.language img {
    width: 16px;
}

.language .arrow {
    width: 10px;
}

.language:hover {
    background: #a52a4a;
}


/* ================= TOP STRIP ================= */
.top-strip {
    width: 100%;
   background: linear-gradient(111.75deg, #FFE2CB 0.68%, rgba(255, 180, 202, 0.51) 50.32%, #FFDDC1 99.97%);

}
.with-arrow {
    display: flex;
    align-items: center;
    gap: 4px;
}

.with-arrow .arrow {
    width: 15px;
}

/* container same alignment */
.strip-container {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 15px 15px;
}

/* items */
.strip-item {
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 6px;
    font-size: 16px;
    color: black;
    cursor: pointer;
}


/* active underline only text */
.strip-item.active span::after {
    content: "";
    position: absolute;
    left:20px;
    bottom: 0;
    width: 100%;
    top: 34px;
    height: 2.5px;
    background: #8b1c3d;
}

.strip-item img {
       width: 22px;
    height: 22px;
    object-fit: contain;
    display: block;          
}

/* hover */
.strip-item:hover {
    color: #8b1c3d;
}

/* active (underline effect) */
.strip-item.active {
    color: black;
    font-weight: 500;
}

.strip-item.active span::after {
    display: none;
}

/* ================= BREADCRUMB SECTION ================= */
.breadcrumb-nav {
    background-color: #ffffff;
    padding: 15px 0;
    width: 100%;
}

.breadcrumbs {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.breadcrumbs li {
    display: flex;
    align-items: center;
    font-family: var(--font-para);
    color: rgba(102, 112, 133, 1);
}


.breadcrumbs li a {
    text-decoration: none;
    color: #666;
    transition: 0.3s;
    font-family: var(--font-body);
    font-weight: 500;
}

.breadcrumbs li a:hover {
    color: #851739; 
}


.breadcrumbs li img.breadcrumb-separator {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    display: flex;
    align-items: center;
}

.breadcrumbs li.active {
    color: #851739; 
    font-weight: 500;
    font-family: var(--font-body);
}
/* ================= KUNDLI HERO ================= */
.kundli-hero {
    padding: 60px 0;
    background: linear-gradient(111.75deg, #FFE2CB 0.68%, rgba(255, 180, 202, 0.51) 50.32%, #FFDDC1 99.97%);
    overflow: hidden;
}

.hero-wrapper {
    max-width: 1350px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
   display: flex;
    justify-content: center;
    align-items: space-between;  
}
.hero-image-box {
    position: relative;
    width: 100%;
}


.janam-bg {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-65%, -47%);
    width: 900px;
    opacity: 1;
    z-index: 1;
}

/* ================= RIGHT CARD WRAPPER ================= */
.janam-kundli-page .hero-card-box {
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

/* 2 CARDS LAYOUT */
.janam-cards-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}

/* ================= MAIN CARD ================= */
.janam-card.main-card {
    width: 100%;
    max-width: 470px;
     flex-shrink: 0;
    background: rgba(255, 243, 242, 1);
    padding: 35px;
    max-height: 450px;
    border-radius: 18px;
    box-shadow: 8px 8px 21.3px 0px rgba(9, 9, 9, 0.12);

    /* LEFT SHIFT (only this page) */
    transform: translateX(-20px);
}

/* ================= SIDE CARD ================= */
.janam-card.side-card {
    width: 250px;
    height: 320px;    
    flex-shrink: 0;
    background: rgba(255, 243, 242, 1);
    padding: 20px;
    border-radius: 14px;
    box-shadow: 6px 6px 18px rgba(0,0,0,0.1);
}

/* SIDE CARD CONTENT */
.side-title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    font-family: var(--font-heading);
}

.profile-box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
   border: 1px solid rgba(246, 138, 50, 1);
    border-radius: 10px;
    background: rgba(255, 231, 212, 1);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);


}

.profile-box img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile-box .name {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    
}

.profile-box .sub-text {
    font-size: 11px;
    color: rgba(114, 114, 114, 1);
    font-weight: 500;
    font-family: var(--font-para);
}

/* ================= TITLE ================= */
.janam-kundli-page .card-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: var(--font-heading);
}

/* ================= FORM ================= */
.janam-kundli-page .input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.janam-kundli-page .form-group {
    display: flex;
    flex-direction: column;
}

.janam-kundli-page .form-group.full-width {
    grid-column: span 2;
}

.janam-kundli-page .form-group label {
    font-size: 13px;
    margin-bottom: 6px;
    color: rgba(60, 60, 60, 1);
    font-weight: 600;
}

.janam-kundli-page input, 
.janam-kundli-page select {
    height: 42px;
    padding: 0 15px;
    border-radius: 8px;
    border: 1px solid rgba(255, 195, 140, 0.5);
    font-size: 13px;
    outline: none;
}

/* ================= DATE ================= */
.janam-kundli-page .date-input-wrapper {
    position: relative;
}

.janam-kundli-page .icon-date {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
}

/* ================= SELECT ================= */
.janam-kundli-page .select-wrapper {
    position: relative;
    width: 65px;
}

.janam-kundli-page .select-wrapper select {
    width: 100%;
    height: 38px;
    padding: 0 25px 0 10px;
    font-size: 13px;
    appearance: none;
    border: 1px solid rgba(255, 195, 140, 0.5);
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
    color: rgba(147, 147, 147, 1);
}

.janam-kundli-page .arrow-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    pointer-events: none;
}

/* ================= TIME + LOCATION ================= */
.janam-kundli-page .time-location-row {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    width: 100%;
}

.janam-kundli-page .time-section {
    display: flex;
    flex-direction: column;
     min-width:190px; 
}

.janam-kundli-page .time-inputs {
    display: flex;
    gap: 4px;
}

.janam-kundli-page .time-inputs .select-wrapper {
    width: 58px;
}

.janam-kundli-page .location-section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.janam-kundli-page .location-section input {
    height: 40px;
    padding: 0 12px;
}

/* ================= CHECKBOX ================= */
.janam-kundli-page .checkbox-group {
    margin-top: 10px;
    display: flex;
    gap: 8px;
}

.janam-kundli-page .checkbox-group input[type="checkbox"] {
     -webkit-appearance: none;
    appearance: none;
    width: 14px; 
    height: 16px;
    min-width: 18px; 
    border: 1px solid #851739;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    outline: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}


.janam-kundli-page .checkbox-group input[type="checkbox"]:checked::before {
     content: "";
    position: absolute;
    width: 4px;
    height: 8px;
    right: 5px;
   
    border: solid #851739;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.janam-kundli-page .checkbox-group label {
    font-size: 13px;
    color: rgba(147, 147, 147, 1);
}

/* ================= LAST ROW ================= */
.janam-kundli-page .last-row {
     display: flex;
    align-items: flex-end;
    gap: 20px;
    width: 100%;
     grid-column: 1 / -1;
}
.last-row > * {
    flex: 1;
    min-width: 0;
}

.last-row .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.last-row .select-wrapper {
    width: 100%;
}

.last-row .type-full {
    width: 100%;
    position: relative;
}

.last-row .type-full select {
    width: 100%;
    height: 48px;
    padding: 0 40px 0 12px;
    border-radius: 10px;
    border: 1px solid rgba(255, 195, 140, 0.5);
    font-size: 14px;
    outline: none;
    appearance: none;
    background: #fff;
    cursor: pointer;
    box-sizing: border-box;
}

.last-row .type-full .arrow-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    pointer-events: none;
}

/* ================= BUTTON ================= */
.janam-kundli-page .button-wrapper {
    height: 48px;
}

.janam-kundli-page .match-btn {
    height: 48px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background: linear-gradient(180deg, #C33B65 0%, #851739 100%);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.janam-kundli-page .match-btn:active {
    transform: scale(0.98);
}


.janam-kundali-info {
    padding: 80px 20px;
    background-color: #ffffff;
    
    color: rgba(79, 79, 79, 1);
}


.janam-kundali-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.janam-kundali-block {
    margin-bottom: 35px;
}

.janam-kundali-title {
    font-size: 40px;
    font-weight: 400;
    color: #000;
    margin-bottom: 15px;
    
}

.janam-kundali-subtitle {
    font-size: 40px;
    font-weight: 400;
    font-family: var(--font-heading);
    color: #000;
    margin-bottom: 15px;
    margin-top: 60px;
}

.janam-kundali-subtitle.uppercase {
    text-transform: uppercase;
}

.janam-kundali-text {
    font-size: 19px;
    margin-bottom: 15px;
    font-family: var(--font-body);
    line-height: 1.2;
    font-weight: 500;
   
}

.janam-kundali-process {
    font-size: 19px;
   
    color: rgba(79, 79, 79, 1);
    font-weight: 500;
}

.janam-kundali-features, .janam-kundali-benefits {
    padding-left: 20px;
    line-height: 1.7;
    font-weight: 500;
      list-style-position: inside;
      padding-left: 0;
}

.janam-kundali-features li {
    font-size: 19px;
      line-height: 1.7;
    list-style-type: number;
}
.janam-kundali-benefits li{
      font-size: 19px;
      line-height: 1.2;
    
}
.janam-kundali-benefits{
    margin-top: 30px;
}

/* FOOTER SECTION */
.footer-section {
    position: relative;
    padding: 40px 20px;
    background-color: rgba(255, 245, 237, 1);
    overflow: hidden;
}


.footer-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 550px;
    height: 550px;
    background-image: url("Images/horoscope_bg1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.09;
    z-index: 0;
    
    transform: rotate(90deg);
}  
.footer-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    top: 315px;
     width: 680px;
    height: 550px;
    left: 900px;
    background-image: url("Images/horoscope_bg2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.09;
    z-index: 0;
   
    transform: rotate(90deg);
}

.footer-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    gap: 40px;
    padding-bottom: 40px;
    
}

.footer-logo {
    width: 180px;
    margin-bottom: 30px;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
}

.info-item span, .address-info span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: rgba(47, 6, 17, 1);
    margin-bottom: 5px;
    font-family: var(--font-para);
}

.info-item p, .address-info p {
    font-size: 12px;
    color: rgba(133, 23, 57, 1);
    margin: 0;
    max-width: 350px;
}

.info-divider {
    width: 1px;
    height: 40px;
    background-color: rgba(47, 6, 17, 1);
}

.address-info {
    margin-bottom: 20px;
}

.address-info p {
    color: #8B1A42;
    line-height: 1.6;
}

.download-apps h3 {
    font-size: 22.5px;
      background:linear-gradient(90deg, rgb(66, 20, 20), #D1043E 20%, #141414 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: var(--font-para);
}

.app-buttons {
    display: flex;
    gap: 10px;
}

.app-buttons img {
    height: 45px;
    cursor: pointer;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    margin-top: 95px;
}

.link-column h3 {
    font-size: 16px;
    font-weight: 700;
    color: #8B1A42;
    margin-bottom: 20px;
    font-family: var(--font-para);
}

.link-column ul {
    list-style: none;
    padding: 0; 
   
}

.link-column ul li {
    margin-bottom: 16px;
   
}

.link-column ul li a {
    text-decoration: none;
    color: rgba(40, 41, 56, 1);
    font-size: 14px;
    transition: 0.3s;
    font-family: var(--font-para);
    font-weight: 500;
}

.link-column ul li a:hover {
    color: #8B1A42;
}
.footer-social{
margin-top: 100px;
}

.footer-social h2 {
    font-size: 28px;
    font-weight: 600;
    color: rgba(47, 6, 17, 1);
    margin-bottom: 15px;
    font-family: var(--font-para);
}

.footer-social p {
    font-size: 13px;
    color: rgba(33, 33, 33, 1);
    line-height: 1.6;
    margin-bottom: 10px;
    font-weight: 400;
}

.social-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: fit-content;
}

.social-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.footer-bottom {
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}

.footer-bottom p {
    font-size: 12px;
    color: rgba(40, 41, 56, 1);
    margin: 0;
    font-weight: 500;
}

@media (max-width: 1490px){

.hero-wrapper {

    align-items: center;
    gap: 100px;
    padding: 0 10px;
}


.hero-image-box {
    width: 100%;
    height: 100%;
    max-width: clamp(300px, 80vw, 900px);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0;
    margin: -60px auto;
}

.janam-bg {
    width: 150%;
    max-width: none;
    height: auto;
    position: relative;
    z-index: 2;
    display: block;
    object-fit: contain;
    transform: translateY(-45%) translateX(-35%);
}

.janam-kundli-page .hero-card-box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.janam-cards-wrapper {
    flex-direction: column;
    gap: 20px;
    width: 100%;
}



.janam-card.side-card {
    display: none; 
}
}

@media (max-width: 1250px) {
     
/* ================= RIGHT SECTION ================= */
.header-right {
    gap: 20px;
    transform: translateX(0px);
}

/* ================= LANGUAGE BUTTON ================= */
.language {

    margin-right: 10px;
}
.breadcrumb-nav {
    padding: 15px 10px;
    font-size: 15px;
}

    
    /* ================= KUNDLI HERO ================= */
.kundli-hero {
    padding: 20px 0;
}

.hero-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
    padding: 0 10px;
}


.hero-image-box {
    width: 100%;
    height: 100%;
    max-width: clamp(300px, 80vw, 900px);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0;
    margin: -60px auto;
}

.janam-bg {
    width: 150%;
    max-width: none;
    height: auto;
    position: relative;
    z-index: 2;
    display: block;
    object-fit: contain;
    transform: translateY(-45%) translateX(-25%);
}

.janam-kundli-page .hero-card-box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.janam-cards-wrapper {
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.janam-card.main-card {
    width: 100%;
    max-width: 100%;
    max-height: none; 
    transform: translateX(0); 
    padding: 25px 15px;
    box-sizing: border-box;
    display: flex;
    
    flex-direction: column;
}

.janam-card.side-card {
    display: none; 
}
.janam-kundli-page .input-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

.janam-kundli-page .form-group.full-width {
    grid-column: 1 / -1;
    width: 100%;
}

.janam-kundli-page .time-location-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: flex-end;
    width: 100%;
    grid-column: 1 / -1;
}

.janam-kundli-page .date-input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.janam-kundli-page .date-input-wrapper input {
    width: 100%;
    padding-right: 45px; 
    box-sizing: border-box;
    height: 45px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.janam-kundli-page .icon-date {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: auto;
    pointer-events: none;
    z-index: 5;
    display: block;
    opacity: 0.7;
}

.janam-kundli-page .time-section, 
.janam-kundli-page .location-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.janam-kundli-page .time-inputs {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.janam-kundli-page .time-inputs .select-wrapper {
    flex: 1;
    min-width: 0;
}

.janam-kundli-page .time-inputs .select-wrapper select {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.janam-kundli-page .location-section input {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding: 0 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

    .footer-section {
        padding: 40px 20px;
    }
    .download-apps h3 {
        font-size: 20px;
        text-align: center;
    }
    .app-buttons img {
    height: 40px;
    cursor: pointer;
}
    
    .footer-section:before {
    content: "";
    position: absolute;
    bottom: 0;
    
    width: 350px;
    height: 350px;
}
 .footer-section:after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 850px;
    left: 0;
    width: 350px;
    height: 350px;
    opacity: 0.09;
}
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding-bottom: 10px;
       
    }
    .app-buttons {
        justify-content: center;
    }

.footer-links {
    gap: 50px;
    margin-top: 45px;
}

    .link-column ul li {
    margin-bottom: 10px;
}
.link-column h3 {
    font-size: 14px;}

.link-column ul li a {
    font-size: 12px;
   
}
.footer-social {
    margin-top: 20px;
}

}

@media (max-width: 749px) {
  
.hamburger-menu img {
        transform: translateY(10px);
    }

.desktop-only  {
        display: none;
    }
.phone{
    display: block;
    transform: translateY(10px)
}
.phone span{
    display: none;
}
    .header-right {
        gap: 15px;
        transform: translateX(0);
    }

    .hamburger-menu {
        display: block;
    }

    .sign-in span {
        display: none; 
    }
    .sign-in{
        transform: translateY(10px);
    }
    .top-strip {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 1000;
        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }
        .header{
            padding: 5px ;
}
    .top-strip.active {
        display: block;
    }

    .strip-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0;
        gap: 0;
    }

    .strip-item {
        width: 100%;
        padding: 15px 20px;
        border-bottom: 1px solid #f0f0f0;
        justify-content: flex-start;
    }

    .strip-item.active span::after {
        display: none;
    }

.breadcrumb-nav {
    padding: 15px 10px;
    font-size: 15px;
}

    
    /* ================= KUNDLI HERO ================= */
.kundli-hero {
    padding: 20px 0;
}

.hero-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
    padding: 0 10px;
}


.hero-image-box {
    width: 100%;
    height: 100%;
    max-width: clamp(300px, 80vw, 900px);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0;
    margin: -60px auto;
}

.janam-bg {
    width: 150%;
    max-width: none;
    height: auto;
    position: relative;
    z-index: 2;
    display: block;
    object-fit: contain;
    transform: translateY(-45%) translateX(-25%);
}

.janam-kundli-page .hero-card-box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.janam-cards-wrapper {
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.janam-card.main-card {
    width: 100%;
    max-width: 100%;
    max-height: none; 
    transform: translateX(0); 
    padding: 25px 15px;
    box-sizing: border-box;
    display: flex;
    
    flex-direction: column;
}

.janam-card.side-card {
    display: none; 
}

.janam-kundli-page .input-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    width: 100%;
}

.janam-kundli-page .form-group.full-width {
    grid-column: 1 / -1;
    width: 100%;
}

.janam-kundli-page .time-location-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    align-items: flex-end;
    width: 100%;
}

.janam-kundli-page .date-input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.janam-kundli-page .date-input-wrapper input {
    width: 100%;
    padding-right: 45px; 
    box-sizing: border-box;
}

.janam-kundli-page .icon-date {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: auto;
    pointer-events: none;
    z-index: 5;
    display: block;
}

.janam-kundli-page .time-section, 
.janam-kundli-page .location-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.janam-kundli-page .time-inputs {
    display: flex;
    gap: 5px;
    width: 100%;
}

.janam-kundli-page .time-inputs .select-wrapper {
    flex: 1;
    min-width: 0;
}

.janam-kundli-page .time-inputs .select-wrapper select {
    width: 100%;
    box-sizing: border-box;
}

.janam-kundli-page .location-section input {
    width: 100%;
    box-sizing: border-box;
}

    .janam-kundli-page .last-row {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .last-row > * {
        width: 100%;
    }

    .janam-kundli-page .button-wrapper,
    .janam-kundli-page .match-btn {
        height: 50px;
    }



.janam-kundali-info {
    padding: 20px 10px;
}

.janam-kundali-title {
    font-size: 28px;
    margin-bottom: 10px; 
}

.janam-kundali-subtitle {
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 40px;
}

.janam-kundali-text {
    font-size: 14px;
    text-align: justify;
   
}

.janam-kundali-process {
    font-size: 14px;
}

.janam-kundali-features li {
    font-size: 14px;
}
.janam-kundali-benefits li{
      font-size: 14px;
}





    .footer-section {
        padding: 40px 20px;
    }
    .download-apps h3 {
        font-size: 20px;
        text-align: center;
    }
    .app-buttons img {
    height: 40px;
    cursor: pointer;
}
    
    .footer-section:before {
    content: "";
    position: absolute;
    bottom: 0;
    
    width: 350px;
    height: 350px;
}
 .footer-section:after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 850px;
    left: 0;
    width: 350px;
    height: 350px;
    opacity: 0.09;
}
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding-bottom: 10px;
       
    }
    .app-buttons {
        justify-content: center;
    }

.footer-links {
    gap: 50px;
    margin-top: 45px;
}

    .link-column ul li {
    margin-bottom: 10px;
}
.link-column h3 {
    font-size: 14px;}

.link-column ul li a {
    font-size: 12px;
   
}
.footer-social {
    margin-top: 20px;
}
}