/* ================= GLOBAL RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

/* ================= FONT VARIABLES (ONLY) ================= */
:root {
    --font-body: 'Inter', sans-serif;
    --font-heading: 'Stolzl', sans-serif;
    --font-para: 'Poppins', sans-serif;
    
    /* Colors */
    --white: rgba(255, 255, 255, 1);
    --light-cream: rgba(255, 245, 237, 1);
}


@font-face {
    font-family: 'Stolzl';
    src: url('Fonts/stolzl_light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Stolzl';
    src: url('Fonts/stolzl_book.woff2') format('woff2');
    font-weight: 350;
}

@font-face {
    font-family: 'Stolzl';
    src: url('Fonts/stolzl_regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Stolzl';
    src: url('Fonts/stolzl_medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Stolzl';
    src: url('Fonts/stolzl_bold.woff2') format('woff2');
    font-weight: 700;
}

/* ================= GLOBAL ELEMENTS ================= */
a {
    text-decoration: none;
    color: inherit;
}

/* ================= HEADING & PARA ================= */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

p {
    font-family: var(--font-para);
}

/* ================= CONTAINER ================= */
.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ================= HEADER ================= */
.header {
    width: 100%;
    background:var(--white);
      padding: 8px 0; 
}

/* ================= LOGO ================= */
.logo img {
    height: 48px;
}

/* ================= RIGHT SECTION ================= */
.header-right {
    display: flex;
    align-items: center;
    gap: 40px;
    transform: translateX(20px);
}

/* ================= HEADER ITEMS ================= */
.header-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
    color: rgba(133, 23, 57, 1);
    font-weight: 600;
    transition: 0.3s;
}
.sign-in span {
    color: #000000;
}

.talk-to-astro{
    margin-left: 30px;
}

.header-item img {
    width: 25px;
    height: 25px;
}

.header-item:hover {
    opacity: 0.8;
}

/* ================= LANGUAGE BUTTON ================= */
.language {
    display: flex;
    align-items: center;
    gap: 6px;
    background: rgba(133, 23, 57, 1);
    color: #fff;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 4px 10px rgba(10, 13, 18, 0.05);
}

.language img {
    width: 16px;
}

.language .arrow {
    width: 10px;
}

.language:hover {
    background: #a52a4a;
}


/* ================= TOP STRIP ================= */
.top-strip {
    width: 100%;
    background: linear-gradient(111.75deg, #FFE2CB 0.68%, rgba(255, 180, 202, 0.51) 50.32%, #FFDDC1 99.97%);

}
.with-arrow {
    display: flex;
    align-items: center;
    gap: 4px;
}

.with-arrow .arrow {
    width: 15px;
}

/* container same alignment */
.strip-container {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 10px 20px;
}

/* items */
.strip-item {
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 3px;
    font-size: 16px;
    color: black;
    cursor: pointer;
}


/* active underline only text */
.strip-item.active span::after {
    content: "";
    position: absolute;
    left:20px;
    bottom: 0;
    width: 100%;
    top: 28px;
    height: 2.5px;
    background: #8b1c3d;
}

.strip-item img {
       width: 22px;
    height: 22px;
    object-fit: contain;
    display: block;          
}

/* hover */
.strip-item:hover {
    color: #8b1c3d;
}

/* active (underline effect) */
.strip-item.active {
    color: black;
    font-weight: 500;
}

/* ================= HERO SECTION ================= */

.hero {
    width: 100%;
    height: 590px; 
    background: linear-gradient(111.75deg, #FFE2CB 0.68%, rgba(255, 180, 202, 0.51) 50.32%, #FFDDC1 99.97%);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
}

.hero-image {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 110%; 
    z-index: 1;
}

.hero-image img {
    height: 100%;
    width: auto;
    display: block;
} 

.hero-wrapper {
    max-width: 1350px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
   display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

/* ================= LEFT CONTENT POSITIONING ================= */
.hero-content {
    position: absolute;
    left: 0; 
    top: 30px; 
    width: 700px;
    margin-left: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-heading {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.15;
    color: #252525;
    margin-bottom: 8px;
    text-align: center;
    
}

.hero-heading span {
 display: inline-block;
  background: linear-gradient(120deg,rgba(37, 37, 37, 1), rgba(209, 4, 62, 1), rgba(44, 44, 44, 1));

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

.hero-subtext {
    font-size: 16px;
    color: rgba(59, 58, 58, 1);
    line-height: 1.5;
    margin-bottom: 35px;
    max-width: 550px;
    text-align: center;
    font-weight: 500;
}

.hero-row{
   position: relative;
    left: 180px;
    max-width: 280px;
    margin-top: 20px;
}

.hero-points {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.point {
    display: flex;
    align-items: center;
    gap: 12px;
}

.point img {
    width: 28px;
    height: 28px;
    background: #8B1A42;
    border-radius: 50%;
    transform: translateY(-11px);
}

.point p {
    font-size: 16px;
    color: rgba(59, 58, 58, 1);
    font-weight: 500;
}

.hero-btn {
    width: fit-content;
    font-family: var(--font-para);
    padding: 8px 16px;
    margin-top: 8px;
    margin-left: 35px;
    background: #8B1A42;
    color: #fff;
     border: 2px solid transparent;
    background-image: 
        linear-gradient(#8B1A42, #8B1A42), 
        linear-gradient(161.75deg, rgba(255, 226, 203, 1), rgba(186, 122, 142, 0.51), rgba(255, 221, 193, 1));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(139, 26, 66, 0.3);
}

/* ================= RIGHT PANEL (PANCHANG CARD) ================= */
.hero-panel {
    position: absolute;
    right: 0;
    top: 20px;
    width: 720px;
    padding: 30px;
    border-radius: 24px;
    background-color: rgba(255, 243, 242, 1);
  
    box-shadow: 8px 8px 25.2px 0px rgba(9, 9, 9, 0.12);
    border: 4px solid transparent;
    background-image: 
        linear-gradient(rgba(255, 243, 242, 1), rgba(255, 243, 242, 1)), 
        linear-gradient(111.75deg, rgba(255, 226, 203, 0.4) 0.68%, rgba(255, 180, 202, 0.4) 50.32%, rgba(255, 221, 193, 0.4) 99.97%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.panel-header h2 {
    font-size: 32px;
    color: #851739;
    font-weight: 800;
    margin-bottom: 4px;
    font-weight: 500;
}

.panel-header .date {
    font-size: 16px;
    color: rgba(56, 56, 56, 1);
    font-weight: 700;
    margin-bottom: 25px;
    font-family: var(--font-body);
}

.astro-times {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}
.time-box {
    display: flex;
    align-items: center;
    gap: 15px;
    background: rgba(255, 236, 220, 1);
    padding: 1px 2px;
    border-radius: 12px;
    
    border: 2px solid transparent;
    background-image: 
        linear-gradient(rgba(255, 236, 220, 1), rgba(255, 236, 220, 1)), 
        linear-gradient(111.75deg, #FFE2CB 0.68%, #FFB4CA 50.32%, #FFDDC1 99.97%);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    min-width: 140px; 
}

.time-box img {
    width: 55px;
    height: auto;
    flex-shrink: 0;
}

.time-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.time-text h2 {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin: 0;
    line-height: 1.2;
}

.time-text h6{
    font-size: 11px;
    color: #333;
    font-weight: 400;
    margin-top: 2px;
}



.astro-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
   
}

.astro-info p {
    font-size: 18px;
    color: #333;
    margin: 0;
     font-family: var(--font-body);
     font-weight: 400;
}

.astro-info strong {
    color: #111;
    font-weight: 700;
    display: inline-block;
}

.panchang-btn {
     width: fit-content;
    background: linear-gradient(180deg, #D64572 0%, #851739 100%);
    color: #fff;
    border: none;
    padding: 14px 100px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;   
}



.astrologers-section {
    padding: 80px 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.astrologers-container {
    max-width: 1200px;
    width: 100%;
    text-align: center;
}

.astrologers-title {
    font-size: 32px;
    font-weight: 500;
    color: #000;
    margin-bottom: 40px;
}

.astrologers-title span {
   background: linear-gradient(90deg, rgb(49, 47, 47), rgba(209, 4, 62, 1), rgba(44, 44, 44, 1));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.astrologers-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 20px;
}

.astro-card {
    background: linear-gradient(111.75deg, rgba(255, 226, 203, 0.3) 0.68%, rgba(255, 180, 202, 0.153) 50.32%, rgba(255, 221, 193, 0.3) 99.97%);
  border: 4px solid transparent;
    background-image: 
        linear-gradient(rgba(255, 236, 220, 1), rgba(255, 236, 220, 1)), 
        linear-gradient(111.75deg,rgba(255, 226, 203, 1),rgba(255, 180, 202, 1),rgba(255, 221, 193, 1));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.astro-top {
    padding: 20px;
    display: flex;
    align-items: center; 
    gap: 20px;
    
}


.astro-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding-right: 15px;
    border-right: 1px solid rgba(130, 0, 37, 0.24);
    max-height: 80px;
}

.img-wrapper {
    width: 55px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.rating-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6px;
}

.stars {
    color: #FFB800;
    font-size: 10px;
    display: block;
}

.count {
    font-size: 8px;
    color: rgba(51, 51, 51, 0.63);
    font-weight: 400;
    font-family: Roboto, 'sans-serif';
}

.astro-details {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-self: flex-start;
   margin-top: 2px;
}

.name-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 2px;
}

.name-row h3 {
    font-size: 24px;
    font-weight: 600;
    color: rgba(36, 36, 36, 1);
    font-family: var(--font-body);
}

.verify-icon {
    width: 14px;
    height: 14px;
}

.info-row {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    color: rgba(81, 81, 81, 1);
    font-weight: 500;
  
}

.info-row img {
    width: 18px;
    height: 18px;
}

.astro-bottom {
   background: linear-gradient(111.75deg, #FFE2CB 0.68%, rgba(255, 180, 202, 0.51) 50.32%, #FFDDC1 99.97%);
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.price-info {
    text-align: left;
}

.exp  {
    font-size: 18px;
    font-weight: 600;
    color: #444;
    display: block;
    font-family: var(--font-body);
}
.year{
    font-weight: 500;
}
.min{
    color: black;
    font-weight: 500;
}
.rate {
    font-size: 20px;
    font-weight: 600;
    color: #8B1A42;
    margin: 0;
    font-family: var(--font-body);
}

.rate span {
    font-size: 13px;
    font-weight: 500;
}

.action-icons {
    display: flex;
    gap: 10px;
}

.icon-btn {
    width: 50px;
    height: 50px;
    background: #8B1A42;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(139, 26, 66, 0.2);
}

.icon-btn img {
    width: 30px;
    height: 30px;
}

.view-all-btn {
    margin-top: 50px;
    background: #8B1A42;
    color: #fff;
    border: 2px solid transparent;
    background-image: 
        linear-gradient(#8B1A42, #8B1A42), 
        linear-gradient(161.75deg, rgba(255, 226, 203, 1), rgba(186, 122, 142, 0.51), rgba(255, 221, 193, 1));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 12px;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.view-all-btn:hover {
    background: #721435;
    transform: translateY(-2px);
}
